{% extends 'index.html' %}

<!Doctype html>
<html>
    <head></head>
    <body>
        {%block content%}
            <h1>Register</h1>
            {% include 'partials/messages.html' %}
            
            <table class="table">
                <tr>
                  <th scope="col">Course Code</th>
                  <th scope="col">Name</th> 
                  <th scope="col">Short Name</th>
                </tr>
               
                {% for course in courses %}  
                <tr>
                  <th class="scope">{{ course.coursecode }}</th>
                  <th class="scope">{{ course.name }}</th> 
                  <th class="scope">{{ course.shortname }}</th>

                  <th class="scope"><a href="/edit/{{course.auto_increment_id}}">Update</a></th>
                  <th class="scope"><a href="/edit/{{course.auto_increment_id}}">Delete</a></th>
                </tr>
              </table>
           
                <li></li>  
                {% endfor %}  
           
  
            <form method="POST" action="{% url 'addcourse' %}">
                {% csrf_token %}
                Course Code {{form.coursecode}}
                Course Name {{form.name}}
                Course Short {{form.shortname}}
                <button type="submit">ADD</button>
            </form>

        {% endblock %}
    </body>
</html>


